{% block content %}
    <a href="{{ item.url }}" target="_blank">
        {{ item.title }}
    </a>
    {% if item.baseUrl %}({{ item.baseUrl }}){% endif %}
    <br/>
    <small>
        {{ item.score }} points by {{ item.author }}
        <a href="{{ path('item', {id: item.id}) }}">
            {{ item.age }} ago
        </a>
        <a href="{{ path('item', {id: item.id}) }}">
            | {% if item.totalComments %} {{ item.totalComments }} comments {% else %} discuss {% endif %}
        </a>
    </small>
{% endblock %}
